body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

.logo {
  display: flex;
  flex-grow: 1;
  align-items: stretch;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid seashell;
  background-color: black;
}

nav li {
  text-decoration: underline;
  display: inline-flex;
  position: relative;
  flex-shrink: 1;
  justify-content: space-around;
  width: 130px;
  top: 30px;
  left: 680px;
  z-index: 1;
  color: white;
}

.mission {
display: flex;
position: relative;
bottom: 450px;
border: 60px solid black;
}

.our {
  position: relative;
  bottom: 580px;
}

.explain {
  position: relative;
  bottom: 590px;
}

.featured {
  position: relative;
  bottom: 200px;
}

.berryblitz {
position: relative;
bottom: 200px;
right: 350px;
}

.spicerum {
  position: relative;
  bottom: 475px;
}

.donut {
  position: relative;
  left: 350px;
  bottom: 750px;
}

.myrtle {
  position: relative;
  bottom: 750px;
  right: 180px;
}

.bizzare {
  position: relative;
  left: 160px;
  bottom: 1030px;
}

.locations {
  display: flex;
  justify-content: center;
  background-image: url("./images/locations.jpg");
  position: relative;
  height: 500px;
  bottom: 1000px;

}

.textlocation {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 1400px;
}

.downtown {
  display: flex;
  position: relative;
  border: 50px solid black;
  width: 300px;
  height: 300px;
  bottom: 1400px;
  left: 20px;
  background-color: black;
}

.downtowntext {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  left: 75px;
  bottom: 20px;

}

.eastbayside {
  display: flex;
  position: relative;
  border: 200px solid black;
  width: 10px;
  bottom: 50px;
  left: 250px;
  background-color: black;
}

.easttext {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 210px;
  right: 60px;


}

.oakdale {
  position: relative;
  border: 150px solid black;
  width: 50px;
  left: 850px;
  bottom: 2400px;
}

.oakdaletext {
position: relative;
opacity: 1;
bottom: 2695px;
left: 400px;
}

.contact {
 position: relative;
 bottom: 2450px;
}

.footer {
  position: relative;
  text-align: left;
  bottom: 2400px;
}

.missioncontainer {
  width: 1200px;
}

header nav {
  display: flex;
  flex-grow: 1;
}
